@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-coconala-purple: #5C35D9;
}

body {
  @apply antialiased;
  background-color: #F7F8FC;
}

html {
  scroll-behavior: smooth;
}
